body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
}


*{
    margin: 0;
    box-sizing: border-box;
}

.fungus {
    margin: 80px;
    width: max-content;
    position: relative;
    filter: drop-shadow(0 0 4px);
}

.head {
    width: 260px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 4px;
    overflow: hidden;
    position: relative;
}

.head::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: white;
    color: white;
    box-shadow: 140px 0, -140px 0;
}

.face {
    position: absolute;
    width: 155px;
    height: 90px;
    background-color: #E9CABD;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 26% 26% 30% 30%;
}

.eye {
    background-color: black;
    border-radius: 50%;
    width: 14px;
    height: 40px;
    position: absolute;
    top: 20%;
    left: 40px;
    box-shadow: 50px 0;
}

.eye::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 4px;
    height: 10px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 50px 0;
    color: white;
}